{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperación de Contraseña - PawPalace</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Estilos personalizados -->
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

  <!-- Barra de Navegación -->
  <nav class="navbar">
    <!-- Marca de la barra de navegación -->
    <a class="navbar-brand" href="{% url 'inicio' %}">
      <img src="{% static 'images/Paw.png' %}" alt="PawPalace Logo">
    </a>
    <!-- Enlaces de navegación -->
    <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
    <a class="nav-link" href="{% url 'perros' %}">Perros</a>
    <a class="nav-link" href="{% url 'gatos' %}">Gatos</a>
    <!-- Botón de inicio de sesión -->
    <a id="login" class="nav-link login-btn" href="{% url 'inicioSesion' %}">Iniciar Sesión</a>
    <!-- Botón del carrito -->
    <a href="{% url 'carrito' %}" class="cart-link">
      <button class="btn cart-btn">
        <img src="{% static 'images/carrito.svg' %}" alt="Carrito">
        <span id="cart-counter">0</span>
      </button>
    </a>   
  </nav>

  <!-- Contenido principal -->
  <div class="container mt-5">
    <h1>Recuperación de Contraseña</h1>
    <form id="recovery-form">
      <div class="form-group">
        <label for="email">Ingrese su nombre de cuenta o correo electrónico:</label>
        <input type="email" id="email" class="form-control" placeholder="nombredecuenta@example.com" required>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>

  <!-- Pie de página -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 PawPalace. Todos los derechos reservados.</p>
    </div>
  </footer>

  <!-- Bootstrap JS y scripts personalizados -->
  <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' %}"></script>
  <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js' %}"></script>
  <script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'script.js' %}"></script>
</body>
</html>
